{% extends "base.html" %}
<!DOCTYPE HTML>

<html>
  <head>
  </head>

  <body>
    <div class="row">
      <div class="col-md-12">
          <form>

            {% csrf_token %}
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">@example.com</span>
            </div>

        </form>
      </div>
    </div>
  </body>
</html>



{% block content %}
{% endblock %}
